<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MoYuHuaShui</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="background-color: #f8f9fa;padding: 0;margin: 0">

<div class="container text-center" style="width: 70%;margin: auto">
  
  <div style="margin: auto; height: 90vh;padding: 30px;">
    
    <!--标题-->
    <!--    <h1 class="mt-5 text-primary" style="margin: 10px"></h1>-->
    
    <div style="text-align: right;margin-bottom: 10px">
      数据十分钟更新一次
    </div>
    
    <!--内容-->
    <div style="background-color: #f2f2f2;padding: 20px;height: 80vh">
      <!--tab-->
      <ul class="nav nav-pills mb-3" id="myTabs" role="tablist">
        <!-- 使用Thymeleaf循环遍历生成选项卡标题 -->
        <li class="nav-item" role="presentation" th:each="itemVo: ${list}">
          <button aria-selected="true"
                  class="nav-link"
                  data-bs-toggle="tab"
                  role="tab"
                  th:aria-controls="${itemVo.platform.name } + '-tab-pane'"
                  th:data-bs-target="'#' + ${itemVo.platform.name } + '-tab-pane'"
                  th:id="${itemVo.platform.name} + '-tab'"
                  th:text="${itemVo.platform.name}"
                  type="button">
          </button>
          <img class="img-thumbnail" style="width: 30px;margin-top: 5px" th:src="${itemVo.platform.iconUrl}">
        </li>
      </ul>
      
      <!--tab内容-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade"
             role="tabpanel"
             th:aria-labelledby="${itemVo.platform.name} + '-tab'"
             th:each="itemVo : ${list}"
             th:id="${itemVo.platform.name } + '-tab-pane'">
          
          <table class="table table-striped table-hove">
            <thead>
            <tr>
              <td colspan="4">
                <h4 class="text-success text-opacity-75" th:text="${itemVo.platform.slogan}"></h4>
              </td>
            </tr>
            <tr>
              <th>排名</th>
              <th>热度</th>
              <th>标题</th>
              <th>更新时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hotport: ${itemVo.hotSpotList}">
              <td th:text="${hotport.rank}"></td>
              <td th:text="${hotport.hotValue}"></td>
              <td>
                <a class="link-primary" style="text-decoration: none" target="_blank" th:href="${hotport.url}"
                   th:text="${hotport.keyword}"></a>
              </td>
              
              <td th:text="${#temporals.format(hotport.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            
            </tr>
            </tbody>
          </table>
        
        </div>
      </div>
    </div>
    
    <div style="text-align: center">
      <p style="color: #8590a6;font-size: 13px; line-height: 2;">MoYuHuaShui CopyRight 2023 © email@shaoxiongdu.cn</p>
    </div>
  
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
